<% include ./partials/header %>
<!-- head zone -->

 <div class="row">
    
    <div class="col-sm-1"></div>  <!-- Free space -->
    <div class="col-sm-7"> <!-- middle(posts) -->
        <img class="coverImg" src='<%=user.coverPic%>'>
        <div id="profilPic">
            <img class="profileImg" src="<%=user.profilePic%>">
            <h1 class="nameCover"><%= user.name%></h1>
            <div class="container" id="posts">
                    <div class="row" >
                            <div class="col-sm-4" id="about" > <!-- About -->
                                <div>
                                    <h1 class="presentationProfile"><i class="fas fa-globe "></i> Presentation:</h1>
                                    <h1 class="quote"><%=user.quote%></h1>
                                    <h1 class="aboutText"><i class="fas fa-home"></i> Lives in:  <%=user.from %></h1>
                                    <% if(user.maried){ %>
                                        <h1 class="aboutText"><i class="fas fa-heart"></i> Maried </h1>
                                    <% }else{ %>
                                        <h1 class="aboutText"><i class="fas fa-heart"></i> Not married </h1>
                                    <% } %>
                                    <h1 class="aboutText"><i class="fas fa-clock"></i> Sing-in date: <%= user.createdOn.toUTCString() %> </h1>
                                </div>
                                <div>
                                    <h1 class="ImagesProfile"><i class="fas fa-image"></i>  Images:  </h1>
                                    <% for(var i=0;i<=user.posts.length-1;i++){  %>
                                        <% if(user.posts[i].image){%>
                                            <div>
                                                <img class="profileImages" src="<%=user.posts[i].image %>" >
                                            </div>
                                            <% } %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-sm-1" ></div>  <!-- Free space -->
                            <div class="col-sm-7 posts">    <!-- Posts -->
                                
                                <form action="/profile/<%-user.username%>/addPost" method="POST">
                                    <div class="newPost">
                                        <img class="postProfileImage" src="<%=user.profilePic%>" >
                                        <textarea name="newPost" class="postInput" cols="55" rows="1"  placeholder="What's on your mind?"></textarea>
                                        <hr class="postLine">
                                        <button href="" class="btn float-right postBtn">Post </button>
                                        <button class="btn postBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Post photo</button>
                                    </div>
                                </form>
                                <!-- Large modal -->
                                

                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form action="/profile/<%=user.username%>/addPhoto" method="POST">
                                            <div class="form-group">
                                                    <input type="text" name="photo" class="photoInput form-control" placeholder="ImageUrl">
                                                    <input type="text" name="description" class="photoInput form-control" placeholder="Photo Description">
                                                    <button class="btn btn-default btn-inverse btn-block">Add photo</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                                    
                                    
                                    
                        
                            
                                <h3 class="postsProfile">Posts</h3>
                                
                                <div class="posts">
                                    <% for(var i=user.posts.length-1;i>=0;i--){  %>
                                        <% if(user.posts[i].image){ %>
                                            <div class="imagePost">
                                                    <div class="postTop">
                                                        <img class="postProfileImage" src="<%=user.profilePic%>"> 
                                                        <div class="postImageTop">
                                                                <h1 class="postName"> <a href="/profile/<%=user.username%>" class="namePost"><%=user.name%></a> added a new image.</h1>
                                                                <h1 class="postDate"><%=user.posts[i].createdOn.toUTCString() %></h1>
                                                                <form action="/profile/<%=user.username%>/removePost/<%=user.posts[i]._id%>?_method=DELETE" method="POST">
                                                                    <button><i class="fas fa-trash-alt"></i> </button> 
                                                                </form>
                                                        </div>
                                                    </div>
                                                        <h1 class="postDescription"><%-user.posts[i].description %></h1>
                                                        <img class="profileImages" src="<%=user.posts[i].image %>">
                                                        <div class="socialCont">
                                                                <% if( user.posts[i].comments.likes === 1){ %>
                                                                    <h6 class="likesNumber"><%=user.posts[i].likes.length%> like</h6>
                                                                <%}else{ %>
                                                                    <h6 class="likesNumber"><%=user.posts[i].likes.length%> likes</h6>
                                                                <% } %>
                                                                <% if( user.posts[i].comments.length === 1){ %>
                                                                    <h6 class="commentsNumber"><%=user.posts[i].comments.length%> comment</h6>
                                                                <% }else{ %>
                                                                    <h6 class="commentsNumber"><%=user.posts[i].comments.length%> comments</h6>
                                                                <% } %>
                                                        </div>

                                                        <div class="socialButtons">
                                                                <hr class="postLine">
                                                                <div class="buttons">
                                                                        <div class="like">
                                                                                <% if(user.posts[i].likes.length !=0){%>
                                                                                    <% for(var k=0;k<=user.posts[i].likes.length-1;k++){ %>
                                                                                        <!-- There can't be any likes,so so display simple like -->
                                                                                            <% if(user.posts[i].likes[k].username != user.username){ %>
                                                                                                <!-- like -->
                                                                                                <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/like/<%-user.username%>" method="POST">
                                                                                                    <button class="btn socialBtn"><h1 class="socialButton"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                                                </form>
                                                                                                <% break %> 
                                                                                            <% }else{ %>
                                                                                                <!-- unlike if is liked -->
                                                                                                <!-- Delete like from database on second click -->
                                                                                                <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/unlike/<%-user.username%>?_method=DELETE" method="POST">
                                                                                                    <button class="btn "><h1 class="socialButton activatedLike"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                                                </form>
                                                                                                <% break %>
                                                                                            <% } %>
                                                                                    <% } %>
                                                                                    <% }else{%>
                                                                                        <!-- like -->
                                                                                        <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/like/<%-user.username%>" method="POST">
                                                                                            <button class="btn socialBtn"><h1 class="socialButton"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                                        </form>
                                                                                        <% }%>
                                                                                </div>
                                                                            <div class="comments">
                                                                                <button class="btn socialBtn"><h1 class="socialButton"><i class="far fa-comment"></i>Comment</h1></button> 
                                                                            </div>
                                                                </div>
                                                                <hr class="postLine">
                                                                <div class="addComment">                                                                 <!-- Who's posting comment username -->
                                                                    <form class="commShow" action="/profile/<%=user.username%>/<%=user.posts[i]._id%>/addComment/<%=user.username%>" method="POST">
                                                                        <img src="<%=user.profilePic%>" class="friendsImagesItter">
                                                                        <input name="comment" type="text" class="addCommentInput" placeholder="Write a comment">
                                                                    </form>
                                                                </div>
                                                                <div class="commentsItter">
                                                                    <% for(var j=0;j<=user.posts[i].comments.length-1;j++){ %>
                                                                <form action="/profile/<%=user.username%>/<%=user.posts[i]._id%>/deleteComm/<%=user.posts[i].comments[j]._id%>?_method=DELETE" method="POST">
                                                                            <div class="inlineCommElem">
                                                                                <img class="commentProfileImg" src="<%=user.posts[i].comments[j].profileImage%>" alt="">
                                                                                
                                                                                <div class="comment inlineCommElem">
                                                                                        <% if(user.posts[i].comments[j].username == user.username){ %>
                                                                                            <a class="commAuthor" href="/profile/<%=user.username%>"><%=user.name%></a>
                                                                                        <% }else{ %>
                                                                                            <a href="/profile/<%=user.username%>/people/<%=user.posts[i].comments[j].username%>"><%=user.posts[i].comments[j].username%></a>
                                                                                        <% } %>
                                                                                        <h1 class="commText"><%=user.posts[i].comments[j].text%> </h1>
                                                                                </div>
                                                                                
                                                                                    <% if(user.posts[i].comments[j].username == user.username){ %>
                                                                                        <button> <i class="fas fa-trash-alt commentDelBtn"></i></button>
                                                                                    <% }%>
                                                                            </div>
                                                                </form>
                                                                        <% }%>
                                                                </div>
                                                                <hr class="postLine">
                                                                <!--  -->
                                                            </div>
                                            </div>
                                
                                        <% }else{ %>
                                            <div class="simplePost">
                                                    <div class="postTop">
                                                        <img class="postProfileImage" src="<%=user.profilePic%>"> 
                                                        <div class="postImageTop">
                                                                <h1 class="postName"> <a href="/profile/<%=user.username%>" class="namePost"><%=user.name%></a> added a new post.</h1>
                                                                 <h1 class="postDate"><%= user.posts[i].createdOn.toUTCString() %></h1>
                                                                 <form action="/profile/<%=user.username%>/removePost/<%=user.posts[i]._id%>?_method=DELETE" method="POST">
                                                                    <button><i class="fas fa-trash-alt"></i> </button> 
                                                                </form>  
                                                        </div>
                                                    </div>
                                                    <h1 class="postDescription"><%-user.posts[i].description %></h1>
                                                    <div class="socialCont">
                                                        <% if( user.posts[i].comments.likes === 0){ %>
                                                            <h6 class="likesNumber"><%=user.posts[i].likes.length%> like</h6>
                                                            <%}else{ %>
                                                            <h6 class="likesNumber"><%=user.posts[i].likes.length%> likes</h6>
                                                        <% } %>
                                                        <% if( user.posts[i].comments.length === 0){ %>
                                                            <h6 class="commentsNumber"><%=user.posts[i].comments.length%> comment</h6>
                                                            <% }else{ %>
                                                            <h6 class="commentsNumber"><%=user.posts[i].comments.length%> comments</h6>
                                                        <% } %>
                                                    </div>
                                                    <div class="socialButtons">
                                                        <hr class="postLine">
                                                        <div class="buttons">
                                                    <div class="like">
                                                        <% if(user.posts[i].likes.length !=0){%>
                                                            <% for(var k=0;k<=user.posts[i].likes.length-1;k++){ %>
                                                                <!-- There can't be any likes,so so display simple like -->
                                                                    <% if(user.posts[i].likes[k].username != user.username){ %>
                                                                        <!-- like -->
                                                                        <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/like/<%-user.username%>" method="POST">
                                                                            <button class="btn socialBtn"><h1 class="socialButton"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                        </form>
                                                                        <% break %> 
                                                                    <% }else{ %>
                                                                        <!-- unlike if is liked -->
                                                                        <!-- Delete like from database on second click -->
                                                                        <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/unlike/<%-user.username%>?_method=DELETE" method="POST">
                                                                            <button class="btn "><h1 class="socialButton activatedLike"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                        </form>
                                                                        <% break %>
                                                                    <% } %>
                                                            <% } %>
                                                            <% }else{%>
                                                                <!-- like -->
                                                                <form action="/profile/<%-user.posts[i].username%>/<%-user.posts[i]._id%>/like/<%-user.username%>" method="POST">
                                                                    <button class="btn socialBtn"><h1 class="socialButton"><i class="far fa-thumbs-up"></i>Like</h1></button>
                                                                </form>
                                                                <% }%>
                                                        </div>
                                                                    <div class="comments">
                                                                        <button  class="btn socialBtn"><h1 class="socialButton"><i class="far fa-comment"></i>Comment</h1></button> 
                                                                    </div>
                                                        </div>
                                                        <hr class="postLine">
                                                        <form class="commShow" action="/profile/<%=user.username%>/<%=user.posts[i]._id%>/addComment/<%=user.username%>" method="POST">
                                                            <img src="<%=user.profilePic%>" class="friendsImagesItter">
                                                            <input name="comment" type="text" class="addCommentInput" placeholder="Write a comment">
                                                        </form>
                                                    </div>
                                                    <div class="commentsItter">
                                                            <% for(var j=0;j<=user.posts[i].comments.length-1;j++){ %>
                                                                <form action="/profile/<%=user.username%>/<%=user.posts[i]._id%>/deleteComm/<%=user.posts[i].comments[j]._id%>?_method=DELETE" method="POST">
                                                                    <div class="inlineCommElem">
                                                                        <img class="commentProfileImg" src="<%=user.posts[i].comments[j].profileImage%>" alt="">
                                                                        <div class="comment inlineCommElem">
                                                                                <% if(user.posts[i].comments[j].username == user.username){ %>
                                                                                    <a class="commAuthor" href="/profile/<%=user.username%>"><%=user.name%></a>
                                                                                <% }else{ %>
                                                                                    <a href="/profile/<%=user.username%>/people/<%=user.posts[i].comments[j].username%>"><%=user.posts[i].comments[j].username%></a>
                                                                                <% } %>
                                                                                <h1 class="commText"><%=user.posts[i].comments[j].text%> </h1>
                                                                        </div>
                                                                        <button><i class="fas fa-trash-alt commentDelBtn"></i></button>
                                                                    </div>
                                                                </form>
                                                                <% }%>
                                                        </div>
                                            </div>
                                            
                                        <% } %>
                                    <% } %>
                                </div>
                                
                            </div>
                        </div>
            </div>
       </div> 
    </div>  <!-- col-sm-7  -->
 <div class="col-sm-2"> <!-- Free space--></div>
 
<!-- rigth(friends) -->
<div class="col-sm-2"> <!-- Friends (rigth)-->
    
    <div class="friendsContainer">
        <h3 class="friendsTop">Friends</h3>
       <% user.friends.forEach( function(friendItter){ %>
        
                <div >
                        <a class="btn friendBox" href="/profile/<%-user.username%>/people/<%-friendItter.username%>">
                        <img class="friendsImagesItter" src="<%-friendItter.profilePic%>" >
                         <h1 class="friendName"><%- friendItter.name %></h1>
                        </a>
                 </div>
        
      
        <% }) %>
        
    </div>
</div>
</div>





<%include ./partials/footer %>